@font-face {
    font-family: 'NEXT ART';
    src: url('../fonts/NEXTART.eot');
    src: url('../fontsNEXTART.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NEXTART.woff2') format('woff2'),
        url('../fonts/NEXTART.woff') format('woff'),
        url('../fonts/NEXTART.ttf') format('truetype'),
        url('../fonts/NEXTART.svg#NEXTART') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('../fonts/NEXTART-Light.eot');
    src: url('../fonts/NEXTART-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NEXTART-Light.woff2') format('woff2'),
        url('../fonts/NEXTART-Light.woff') format('woff'),
        url('../fonts/NEXTART-Light.ttf') format('truetype'),
        url('../fonts/NEXTART-Light.svg#NEXTART-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('../fonts/NEXTART-SemiBold.eot');
    src: url('../fonts/NEXTART-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NEXTART-SemiBold.woff2') format('woff2'),
        url('../fonts/NEXTART-SemiBold.woff') format('woff'),
        url('../fonts/NEXTART-SemiBold.ttf') format('truetype'),
        url('../fonts/NEXTART-SemiBold.svg#NEXTART-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('../fonts/NEXTART-Bold.eot');
    src: url('../fonts/NEXTART-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NEXTART-Bold.woff2') format('woff2'),
        url('../fonts/NEXTART-Bold.woff') format('woff'),
        url('../fonts/NEXTART-Bold.ttf') format('truetype'),
        url('../fonts/NEXTART-Bold.svg#NEXTART-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nebulosa Display Solid';
    src: url('../fonts/NebulosaBlackDisplaySolid.eot');
    src: url('../fonts/NebulosaBlackDisplaySolid.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NebulosaBlackDisplaySolid.woff2') format('woff2'),
        url('../fonts/NebulosaBlackDisplaySolid.woff') format('woff'),
        url('../fonts/NebulosaBlackDisplaySolid.ttf') format('truetype'),
        url('../fonts/NebulosaBlackDisplaySolid.svg#NebulosaBlackDisplaySolid') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



