@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/CeraRoundPro-Bold.eot');
    src: url('../fonts/CeraRoundPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraRoundPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraRoundPro-Bold.woff') format('woff'),
        url('../fonts/CeraRoundPro-Bold.ttf') format('truetype'),
        url('../fonts/CeraRoundPro-Bold.svg#CeraRoundPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/CeraRoundPro-Medium.eot');
    src: url('../fonts/CeraRoundPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraRoundPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraRoundPro-Medium.woff') format('woff'),
        url('../fonts/CeraRoundPro-Medium.ttf') format('truetype'),
        url('../fonts/CeraRoundPro-Medium.svg#CeraRoundPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/CeraRoundPro-Light.eot');
    src: url('../fonts/CeraRoundPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraRoundPro-Light.woff2') format('woff2'),
        url('../fonts/CeraRoundPro-Light.woff') format('woff'),
        url('../fonts/CeraRoundPro-Light.ttf') format('truetype'),
        url('../fonts/CeraRoundPro-Light.svg#CeraRoundPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/CeraRoundPro-Regular.eot');
    src: url('../fonts/CeraRoundPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraRoundPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraRoundPro-Regular.woff') format('woff'),
        url('../fonts/CeraRoundPro-Regular.ttf') format('truetype'),
        url('../fonts/CeraRoundPro-Regular.svg#CeraRoundPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nebulosa Display Solid';
    src: url('../fonts/NebulosaBlackDisplaySolid.eot');
    src: url('../fonts/NebulosaBlackDisplaySolid.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NebulosaBlackDisplaySolid.woff2') format('woff2'),
        url('../fonts/NebulosaBlackDisplaySolid.woff') format('woff'),
        url('../fonts/NebulosaBlackDisplaySolid.ttf') format('truetype'),
        url('../fonts/NebulosaBlackDisplaySolid.svg#NebulosaBlackDisplaySolid') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



