h1, .h1,
h2, .h2,
h3, .h3 {
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0;
}

h1, .h1 {
	font-size: 30px;
	margin-bottom: 40px;
	text-align: center;

	@media all and (min-width: $lg) {
		font-size: 45px
	}
}

h2, .h2 {
	font-size:	25px;
	margin-bottom: 30px;
	text-align: center;

	@media all and (min-width: $lg) {
		font-size: 30px
	}
}

h3, .h3 {
	font-size: 22px;
	margin-bottom: 20px;
	text-align: center;

	@media all and (min-width: $lg) {
		font-size: 25px
	}
}

a {
	display: inline-block;
	font-family: $ff;
	text-decoration: none;
	transition: color ease-out $tr;
	color: $black;

	&:hover {
		color: $main;
	}
}

p {
	margin: 0;

	&:last-of-type {
		margin-bottom: 0
	}
}

b, strong {
	font-weight: $fw-bold
}