// Grid.
$xs	: 375px;
$sm	: 480px;
$m	: 576px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1200px;

// Container padding.
$container-padding: 24px;

// Font families.
$ff			: 'Cera Round Pro', sans-serif;
$ff-logo	: 'Nebulosa Display Solid', sans-serif;

// Font sizes.
$fs-xs	: 14px;
$fs-sm	: 16px;
$fs-md	: 20px;
$fs-lg	: 30px;
$fs-xl	: 40px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-semibold: 600;
$fw-bold	: 900;

// Line heights.
$lh			: 1.5;
$lh-title	: 1.3;

// Colors.
$white	: #fff;
$black	: #000;
$wheat	: #FEF9EF;
$main   : #7EBCE6;
$bg     : #F7F9F9;
$alm    : #227C9D;
$foot   : #FFCB77;
$acc    : #17C3B2;

// Others.
$tr: 0.35s;
$op: 0.7;