.hero {
	padding: 100px 0 10px;
	background: #ece7dc;
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 30px;
		z-index: 1;
		background: linear-gradient(to top, rgb(237, 235, 215), transparent);
	}

	@media all and (min-width: $md) {
		padding: 180px 0 30px;
	}

	@media all and (min-width: $lg) {
		padding: 175px 0 10px;
	}

	.container {
		max-width: 1200px;
		position: relative;
		z-index: 50;
	}

	h1 {
		margin: 0 0 20px 0;
	}

	.hero-h3 {
		color: rgb(71, 70, 70);
		margin-bottom: 0;
		font-size: 20px;
		padding: 0 10px;
		margin-bottom: 20px;

		@media all and (min-width: $m) {
			font-size: 15px;
		}

		@media all and (min-width: $md) {
			font-size: 24px;
		}

		@media all and (min-width: $lg) {
			font-size: 28px;
		}
	}

	.hero-h2 {
		color: rgb(71, 70, 70);
		margin-bottom: 0;
		border-radius: 5px;
		padding: 2px 0;
		margin-bottom: 30px;

		@media all and (min-width: $lg) {
			font-size: 35px;
		}
	}

	h2 {
		font-size: 20px;

		@media all and (min-width: $lg) {
			font-size: 28px;
		}
	}

	&-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 25%;
		left: 0;
		opacity: 0.1;
	}

	&-slide-text {
		width: 100%;
	}

	&-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media all and (min-width: $m) {
			flex-direction: row;
		}
	}

	&-swiper-wrapper {
		display: flex;
		width: 100%;
		padding: 10px;

		@media all and (min-width: $m) {
			width: 40%;
		}

		@media all and (min-width: $md) {
			width: 50%;
		}
	}

	&-text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-bottom: 10px;

		@media all and (min-width: $m) {
			width: calc(60% - 30px);
			margin-bottom: 0;
			margin-right: 30px;
		}

		@media all and (min-width: $md) {
			width: 45%;
			margin-bottom: 0;
			align-items: flex-start;
		}

		.hero-subtext {
			font-family: $ff;
			font-weight: $fw-semibold;
			font-size: 33px;
			text-align: center;
			color: rgb(78, 78, 77);
			margin-bottom: 30px;
			text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
		}
	}

	&-list {
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;

		@media all and (min-width: $md) {
			align-items: flex-start;
		}
	}

	&-list-item {
		position: relative;
		padding-left: 20px;
		font-size: 16px;

		@media all and (min-width: $m) {
			font-size: 18px;
		}

		@media all and (min-width: $xl) {
			font-size: 22px;
		}

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 10px;
			height: 10px;
			background: $head;
			border-radius: 2px;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}

	&-slide {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 50%;
		padding: 20px;
		border-radius: 5px;
		height: 100%;

		&-img {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			@media all and (min-width: $md) {
				width: 55%;
			}
		}
	}

	.swiper-prev {
		margin-right: 50px;
		cursor: pointer;
		transition: scale ease $tr;

		img {
			transform: rotate(180deg);
		}

		&:hover {
			scale: 1.05;
		}
	}

	.swiper-next {
		cursor: pointer;
		transition: scale ease $tr;

		&:hover {
			scale: 1.05;
		}
	}
}