
.header-nav-bot-item.has-children.opened ul {
    opacity: 1;
    visibility: visible;
    transition: opacity ease 2s;

    .header-nav-bot-item.has-children::after {
        transform: rotate( 40deg);
    }
}

.header-submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    background: $acc;
}