.footer {
    padding: 20px 0;
    background: $head;

    &-nav-bot {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @media all and (min-width: $lg) {
            width: 77%;
        }
    }

    .header-ui {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media all and (min-width: $lg) {
            width: 23%;
        }
    }

    .header-phone {
        margin: 20px 0;
        text-align: center;
    }

    .header-work {
        display: flex;
        flex-direction: column;
        text-align: center;

        .header-time {
            margin: 0 0 10px 0;
        }
    }

    .header-box {
        display: flex;
    }

    .header-wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;

        @media all and (min-width: $lg) {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        @media all and (min-width: $m) {
            width: 50%;
        }

        @media all and (min-width: $lg) {
            text-align: left;
            width: 33.333%;
        }

        @media all and (min-width: $xl) {
            width: 16.666%;
        }

        a {
            width: 100%;
            margin-bottom: 5px;
            padding: 0 5px;

            &:first-child {
                font-weight: $fw-bold;
                font-size: 18px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.feedback-mobile, .feedback-desktop {
    position: fixed;
    bottom: 11%;
    right: 8%;
    z-index: 100;
    animation: vibrate 0.5s cubic-bezier(.36, .07, .1, .97) infinite;
    backface-visibility: hidden;
    perspective: 1300px;
    cursor: pointer;
    transition: opacity ease $tr;

    &:hover {
        opacity: 0.7;
    }

    img {
        transform: rotate(-100deg);
    }

    @keyframes vibrate {

        0.50%,
        90% {
            transform: translate3d(-0.5px, 0, 0);
        }

        0.50%,
        80% {
            transform: translate3d(0.5px, 0, 0);
        }

        30%,
        50%,
        70% {
            transform: translate3d(-0.5px, 0, 0);
        }

        0.50%,
        60% {
            transform: translate3d(0.5px, 0, 0);
        }
    }
}

.feedback-mobile {
    width: 20%;
    right: 3%;

    @media all and (min-width: $md) {
        display: none;
    }
}

.feedback-desktop {
    display: none;

    img {
        transform: rotate( 10deg );
    }

    @media all and (min-width: $md) {
        display: block;
    }
}

.hidden-element {
    width: 100%;
    text-align: center;
    background: red;
    font-size: 13px;
    color: $white;
    padding: 5px;

    @media all and (min-width: $md) {
        font-size: 15px;
    }
}